body {background-image: url("https://www.shc.ac.th/img/BG_index.jpg");}
body {text-align: center;}
h1 {font-size: 33px;}
h2 {font-size: 28px;}
    
.img {text-align: center;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 1px;
    margin-bottom: 1px;
    border-radius: 50%;}
b {color:white;
    font-family: serif;
    text-align: center;
    margin:0px auto;
    }
p {text-align: center; font-size: 18px;
    text-align: center;
    font-family: serif;}   
